html, body {
    min-height: 100vh;
    height: auto;
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
}


body {
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: #252525;

    color: #fff;

    
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 3px solid #00af91;

    background-color: rgba(0, 0, 0, 0.384);

    height: 7rem;
    width: 100%;
}

.header img {
    height: 8rem;
    margin-left: -1rem;
}

.images-secondary {
    display: flex;
    width: 13rem;
    align-items: center;

    margin-top: .5rem;
}

.images-secondary  img {
    height: 4rem;
}

.images-secondary  img:nth-child(4) {
    height: 3.2rem;
    margin-top: .4rem;
    margin-left: -.4rem;

}

section {
    flex: 1;

    display: flex;
    flex-direction: column;
    align-content: center;
}

.panel-control {
    font-size: 2rem;
    font-family: 'Palanquin', sans-serif;
    font-weight: 600;

    padding: 2rem;
    border-radius: .4rem;

    

    background-color: #83cc2a;

    min-width: 23rem;
    width: 50vw;

    margin-top: 3rem;

    display: flex;
    flex-direction: column;
}

.panel-control h3  {
    
    font-family: inter;
    font-weight: 600;
    text-align: center;
    margin-bottom: 1rem;
}

.panel-control h3:after {
    content: "";
    display: block;

    width: 100%;
    border-bottom: 2px solid #fff;
    margin: .3rem;

    width: 100%;
}

.panel-control .input-block + .input-block {
    margin-top: 1rem;
}

.panel-control .input-block  {
    display: flex;
    flex-direction: column;

}

.panel-control .input-block  label {
    font-size: 1.3rem;
    margin-bottom: .4rem;
    width: 90%;
    line-height: 1.7rem;

}

.panel-control .input-block  label::after {
    content: "";
    display: block;

    width: 100%;
    border-bottom: 2px solid rgb(0, 0, 0);
    margin: .3rem;

    width: 85%;
}

.panel-control .input-block  input,
.panel-control .input-block  textarea,
.panel-control input[type="submit"] {
    
    border: none;
    height: 2rem;
    border-radius: .4rem;
    width: 15rem;

    outline: none;

    font-family: inter;
    font-weight: 600;
    color: #54e346;
    font-size: 1rem;
    
    padding: 0 .5rem;
}

.panel-control .input-block  textarea  {
    height: 6rem;
    resize: horizontal;
    padding:  .5rem;

}

.panel-control .input-block .upload-box {
    font-size: 16px;
    background-color: white;
    box-shadow: 10px;
    width: 15rem;
    height: 2.5rem;
    outline: none;
    font-size: .8rem;

    
    padding: initial;

    display: flex;
    align-items: center;
    justify-content: center;
    
    border-radius: 2rem;

    display: flex;
}

.upload-box::-webkit-file-upload-button {
    color: white;
    background-color: #00af91;
    padding: 1px;
    border: none;

    font-size: .66rem;


    height: 100%;
    width: 40%;
    border-radius: 2rem;
    box-shadow: .4px 0 .4px .4px rgba(0, 0, 0, 0.384);
    outline: none;
    padding: 0 .5rem;

    
}


.panel-control input[type="submit"] {
    margin-top: 2rem;

    height: 2.5rem;
    border-radius: .4rem;
    width: 80%;

    font-size: 2rem;
    color: #000;
    font-family: nunito;
    font-weight: 800;

    align-self: center;
}

.albums {
    margin-top: 3rem;

    display: flex;
    justify-content: center;
}

.album + .album {
    margin-top: 1rem;
}

.album {
    border: 1px solid #fff;
    padding:  1rem 0;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;


    font-family: inter;

    min-width: 23rem;
    width: 50vw;
}


.album main h4{
    font-size: 1.5rem;
    font-weight: 600;

    color: #83cc2a;
    margin-bottom: .1rem;
}

.album main p {
    font-size: .95rem;
}

.album main input {
    border: none;
    outline: none;
    background: none;
    color: #fff;
    background-color: #e94560;
    height: 2rem;
    width: 7rem;
    border-radius: .3rem;

    margin-top: 1rem;

    transition: background .2s;
}

.album main input:hover {
    background-color: #e94560c2;

}

hr {
    margin-top: 1rem;
}

.album .images {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1.5rem 1rem;

    margin-top: 1rem;
}

.album .images  img {
    height: 6rem;
    border-radius: .8rem;
}

.footer {
    margin-top: 3rem;
    background: #000;
    height: 6rem;
    width: 100%;
    font-family: 'Palanquin', sans-serif;
    font-size: 1.5rem;
    font-weight: 700;

    border-top: 3px solid #00af91;

    display: flex;
    justify-content: center;
    align-items: center;
}

.footer a {
    color: #54e346;
    text-decoration: none;
}
