html, body {
    min-height: 100vh;
    height: auto;
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
}


body {
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: #252525;

    color: #fff;

    
}

#centering {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 3px solid #00af91;

    background-color: rgba(0, 0, 0, 0.384);

    min-height: 7rem;
    max-height: 10rem;
    height: 13vw;

    width: 100%;
}

.header img {
    min-height: 8rem;
    max-height: 13rem;
    height: 19.5vw;
    margin-left: -1rem;
}

.images-secondary {
    display: flex;
    min-width: 13rem;
    max-width: 20rem;
    width: 46vw;
    align-items: center;

    justify-content: flex-end;
    padding-right: 1rem;

    margin-top: .5rem;
    margin-right: .2rem;
}

.images-secondary  img {
    min-height: 4rem;
    max-height: 6.5rem;
    height: 11.3vw;
}

.images-secondary  img:nth-child(4) {
    min-height: 3.2rem;
    max-height: 5.5rem;
    height: 8.4vw;
    
    margin-top: .4rem;
    margin-left: -.4rem;

}

section {
    flex: 1;

    display: flex;
    flex-direction: column;
    align-content: center;
}

.panel-control {
    font-size: 2rem;
    font-family: 'Palanquin', sans-serif;
    font-weight: 600;

    padding: 2rem;
    border-radius: .4rem;

  

    background-color: #83cc2a;

    min-width: 23rem;
    max-width: 50rem;
    width: 70vw;

    margin-top: 3rem;

    display: flex;
    flex-direction: column;
}

.panel-control h3  {
    font-size: clamp(2rem, 4.5vw, 4rem);
    font-family: Righteous;
    
    letter-spacing: .2rem;
    
    text-align: center;
    margin-bottom: clamp(1rem, 3vw, 4rem);



    display: flex;
    flex-direction: column;
}

.panel-control h3:after {
    content: "";
    display: block;

    width: 100%;
    border-bottom: 2px solid #fff;
    margin: .3rem;

    width: 100%;
    max-width: 33rem;

    align-self: center;
}

.panel-control .input-block + .input-block {
    margin-top: clamp(1rem, 2vw, 3rem);
}

.panel-control .input-block  {
    display: flex;
    flex-direction: column;

}

.panel-control .input-block  label {
    font-size: clamp(1.3rem, 2.2vw, 1.45rem);
    margin-bottom: .4rem;
    width: 90%;
    line-height: 1.7rem;

}

.panel-control .input-block  label::after {
    content: "";
    display: block;

    width: 100%;
    border-bottom: 2px solid rgb(0, 0, 0);
    margin: clamp(.3rem, .8vw, .5rem) 0;

    min-width: 15rem;
    max-width: 17rem;
    width: 32vw;
}

.panel-control .input-block  input,
.panel-control .input-block  textarea,
.panel-control input[type="submit"] {
    
    border: none;
    min-height: 2rem;
    height: 3vw;
    border-radius: .4rem;
    min-width: 15rem;
    max-width: 17rem;
    width: 32vw;

    outline: none;

    background:#fff;

    font-family: inter;
    font-weight: 600;
    color: #54e346;
    font-size: 1rem;
    
    padding: 0 .5rem;
}

.panel-control .input-block  textarea  {
    height: 6rem;
    resize: vertical;
    padding:  .5rem;

}

.panel-control .input-block .upload-box {
    font-size: 16px;
    background-color: white;
    box-shadow: 10px;
    min-width: 15rem;
   
    min-width: 15rem;
    max-width: 17rem;
    width: 32vw;
   
    min-height: 2.5rem;
    max-height: 3rem;
    height: 5vw;


    outline: none;
    font-size: .8rem;

    
    padding: initial;
    padding: 0 .4rem 0 0;


    display: flex;
    align-items: center;
    justify-content: center;
    
    border-radius: 2rem;

    display: flex;

    cursor: pointer;
}

.upload-box::-webkit-file-upload-button {
    color: white;
    background-color: #00af91;
    border: none;

    font-size: clamp(.63rem, .9vw, .75rem);

    height: 100%;
    width: 40%;
    border-radius: 2rem;
    outline: none;
    padding: 0 .5rem;

    transition: background .1s;
}

.upload-box::-webkit-file-upload-button:hover {
    background-color: #02947c;
}

.panel-control input[type="submit"] {
    margin-top: 2rem;
    
    border-radius: .4rem;
    
    min-height: 2.5rem;
    max-height: 3rem;
    height: 4vw;
    
    width: 80%;
    max-width: 17rem;

    font-size: 2rem;
    color: rgb(10, 10, 10);
    font-family: nunito;
    font-weight: 800;

    align-self: center;

    transition: ease  .15s;
}


.panel-control input[type="submit"]:hover {
    background:rgba(255, 255, 255, 0.747);
}

.albums {
    margin-top: 5rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.album + .album {
    margin-top: 3rem;
}

.album {
    border: 1px solid #fff;
    padding:  1rem 0;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;


    font-family: inter;

    min-width: 23rem;
    max-width: 48rem;
    width: 65vw;

    padding: 1rem 1rem;

    word-wrap: break-word;
}


.album main h4{
    font-size: clamp(1.5rem, 4vw, 2.5rem);
    font-weight: 600;

    color: #83cc2a;
    margin-bottom: .1rem;
}

.album main p {
    font-size: clamp(.95rem, 2vw, 1rem);
}

.album main p:nth-child(3) {
    margin-top: .4rem;
}


.album main input {
    border: none;
    outline: none;
    background: none;
    color: #fff;
    background-color: #e94560;
    height: 2rem;
    width: 7rem;
    border-radius: .3rem;

    margin-top: 1rem;

    transition: background .2s;

    cursor: pointer;
}

.album main input:hover {
    background-color: #e94560c2;

}

hr {
    margin-top: 1rem;
}

.album .images {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1.5rem 7vw;

    align-self: center;
    margin-top: 1rem;
}

.album .images  img {
    min-height: 5.5rem;
    max-height: 10rem;
    height: 14vw;
    min-width: 9rem;
    width: 25vw;
    
    
    border-radius: .8rem;
}

.footer {
    margin-top: 3rem;
    background: #000;
    height: 6rem;
    width: 100%;
    font-family: 'Palanquin', sans-serif;
    font-size: 1.5rem;
    font-weight: 700;

    border-top: 3px solid #00af91;

    display: flex;
    justify-content: center;
    align-items: center;
}

.footer a {
    color: #54e346;
    text-decoration: none;
}



@media(min-width: 520px) {
   
    .grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "colum-one-top"  "colum-one-bottom";
        grid-gap: clamp(1rem, 2vw, 2rem) 1rem;
    }

    .panel-control .input-block + .input-block {
        margin-top: initial;
    }

    .input-block:nth-child(1) {
        grid-area: colum-one-top;
    }

    .input-block:nth-child(2) {
        grid-area: colum-one-bottom;
    }

    .panel-control .input-block  label::after {
        min-width: 13rem;
        width: 29vw;
    }

    .panel-control .input-block  input,
    .panel-control .input-block  textarea {
        
        border: none;
        border-radius: .4rem;
        min-width: 13rem;
        width: 29vw;

        padding: 0 .5rem;
    }

    .panel-control .input-block  textarea  {
        padding: .5rem;

    }


    .panel-control input[type="submit"] {
        align-self: flex-end;
    }

}

@media(min-width: 760px) {

    .panel-control .input-block:nth-child(3) label::after {
        max-width: 20rem;
    }

    .panel-control .input-block  label::after {
        max-width: 18rem;
    }
    
    .panel-control .input-block  input,
    .panel-control .input-block  textarea,
    .panel-control input[type="submit"] {
        max-width: 18rem;
    }
    
    .panel-control .input-block  input {
        max-height: 2.5rem;
    }

    .panel-control .input-block  textarea{
        padding: .3rem .5rem;

    }

    .panel-control .input-block .upload-box {
        max-width: 20rem;
    }

    .upload-box::-webkit-file-upload-button {
        font-size: clamp(.70rem, .9vw, .80rem);
    }
    
    .album .images {
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 1.5rem 1.5rem;
    }

    .album .images  img {
        max-height: 8rem;
        max-width: 13.5rem;
    }

    .footer {
        height: 7rem;
        font-size: 2rem;

    }
}

@media(min-width: 1100px) {
    .albums {
        margin-top: 8rem;


        display: grid;
        grid-template-columns: 1fr 1fr;
        
        grid-gap: 5rem 3rem;
    }

    .album + .album {
        margin-top: initial;
    }
}