<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Albums</title>

    <link rel="stylesheet" href="style.css" />

    <!-- fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Palanquin+Dark:wght@500;600;700;800&display=swap"
      rel="stylesheet"
    />
    <link href="https://fonts.googleapis.com/css2?family=Righteous&display=swap" rel="stylesheet">
  </head>
  <body>
    <header class="header">
      <img src="./img/node.png" alt="" />

      <div class="images-secondary">
        <img src="./img/node1.png" alt="" />
        <img src="./img/node2.png" alt="" />
        <img src="./img/node3.png" alt="" />
        <img src="./img/mysql.png" alt="" />
      </div>
    </header>

    <section>
      <div id="centering">
        <form action="/posts" method="POST" class="panel-control" enctype="multipart/form-data">

          <h3>Crie um album</h3>
          <div class="grid">
            <div class="input-block">
              <label for="">Nome do album</label>
              <input type="text" name="name"  required/>
            </div>
  
            <div class="input-block">
              <label for="">Adicione uma descrição</label>
              <textarea name="about" required></textarea>
            </div>
  
            <div class="input-block">
              <label for="">Imagens</label>
              <input type="file" name="file"  class="upload-box"  multiple accept="image/*" required/>
            </div>
  
            <input type="submit" value="Postar" />
          </div>
         
        </form>

        <div class="albums">

       {% for album in albums %}
          
          <div class="album">
            <main>
              <h4>{{album.name}}</h4>
              <p>{{album.date}}</p>
              
              <p> {{album.about}} </p>
              <form action="/delete/{{album.id}}?_method=DELETE" method="POST">
                <input type="submit" value="Deletar" />
              </form>
            </main>

            <hr />

           
            
            <div class="images-container">
                <input type="hidden" class="images-url" value="{{album.images_url}}">

                <div class="images">
                  <!-- as imagens serão adicionadas aqui pelo javascript -->
                </div>
              


            </div>
            
          
          </div>

       {% endfor %}
         

        </div>
      </div>
    </section>

    <footer class="footer">
      <p>Clique para ir ao <a href="https://github.com/julioceno/upload-images-node">repositório</a></p>
    </footer>
  </body>

  <script src="main.js"></script>
</html>
